---
import Layout from "@layout/Main.astro";
import CommunityPostDetail from "@components/community/CommunityPostDetail/CommunityPostDetail.astro";
import CreateResponseForm from "@components/community/CreateResponseForm/CreateResponseForm.svelte";
import CommunityHeader from "@components/community/CommunityHeader/CommunityHeader.astro";
import { getCommunity, getCommunityPost } from "@services/community";
import { communityRepository } from "@repositories/community";

const { slug, postId } = Astro.params;
if (!slug || !postId) return new Response(null, { status: 404 });

const community = await getCommunity(slug);
if (!community) return new Response(null, { status: 404 });

const post = await getCommunityPost(postId);
if (!post) return new Response(null, { status: 404 });

const session = Astro.locals.user;

let isSubscribed = false;
if (session) {
	const subscriber = await communityRepository.getSubscriber(post.communityId, session.id);
	isSubscribed = !!subscriber;
}

const seo = {
	title: post.title,
	description: post.content.slice(0, 150),
};
---

<Layout {...seo}>
	<CommunityHeader community={community} isSubscribed={isSubscribed} />

	<CommunityPostDetail post={post} />

	{
		isSubscribed && (
			<div class="mt">
				<CreateResponseForm postId={post.id} client:load />
			</div>
		)
	}
</Layout>
