.layout {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    padding-right: var(--padding);
    padding-left: var(--padding);
}

.profileWrapper {
    min-width: min(100%, 348px);
    flex: 1 1;
}
