---
import Layout from "@layout/Main.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.login);
if (result?.data?.success) {
	return Astro.redirect(`/${result.data.username}`);
}

const seo = {
	title: `Página não encontrada :(`,
	robots: "noindex,nofollow",
};
---

<Layout {...seo}>
	<div class="form p">
		<h1>Página não encontrada :(</h1>
		<p><a href="/">Ir para a página inicial</a></p>
	</div>
</Layout>
