:root {
    --max-width: 960px;
    --padding: 1em;
    --foreground: 0, 0, 0;
    --background: 215, 235, 255;

    --link: #58a6ff;
    --link-hover: #5093df;

    --danger: tomato;
    --content-background: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: 255, 255, 255;
        --background: 0, 0, 0;
        --content-background: #fff;
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

    font-smooth: never;
    -webkit-font-smoothing: none;

    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--link);
    text-decoration-thickness: 2px;
    &:hover {
        color: var(--link-hover);
    }
}

svg,
img {
    vertical-align: middle;
}

ul li {
    list-style: square;
}

fieldset {
    border: 2px solid black;
    padding: 4px;
    legend {
        margin-left: 2px;
    }
}
button,
input,
textarea {
    font-family: inherit;
    font-size: inherit;
    min-width: 10px;
    max-width: 100%;
}

button svg {
    flex-shrink: 0;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.text-center {
    text-align: center;
}

.border-radius {
    background: var(--content-background);
    color: black;
    clip-path: polygon(
        0px calc(100% - 4px),
        2px calc(100% - 4px),
        2px calc(100% - 2px),
        4px calc(100% - 2px),
        4px 100%,
        calc(100% - 4px) 100%,
        calc(100% - 4px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 2px),
        calc(100% - 2px) calc(100% - 4px),
        100% calc(100% - 4px),
        100% 4px,
        calc(100% - 2px) 4px,
        calc(100% - 2px) 2px,
        calc(100% - 4px) 2px,
        calc(100% - 4px) 0px,
        4px 0px,
        4px 2px,
        2px 2px,
        2px 4px,
        0px 4px
    );
}

.padding {
    padding: var(--padding);
}

.profile-picture {
    background: tomato;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    object-fit: cover;
}

.container {
    max-width: var(--max-width);
    padding: var(--padding);
    margin: auto;
}

.warning-text {
    color: tomato;
}

.margin-top {
    margin-top: 16px;
}
.margin-bottom {
    margin-bottom: 16px;
}

.stop {
    pointer-events: none;
}
.hint {
    color: darkgray;
}
