---
import type { FriendsType } from "@customTypes/user";
import UsersList from "@components/_shared/UsersList/UsersList.astro";

type Props = FriendsType;
const { friends, friendRequests } = Astro.props;
---

<div class="links-list friends field-border p">
	{friendRequests.length > 0 && <h2>Solicitações de amizade</h2>}

	<UsersList users={friendRequests} />

	{friends.length > 0 && <h2>Amigos</h2>}

	<UsersList users={friends} />

	{friends.length === 0 && <h2>Nenhum amigo, melhore :(</h2>}
</div>
