.overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    z-index: 50;
    inset: 0;
}

.dialogContent {
    position: fixed;
    width: calc(100% - 32px);
    max-width: 700px;
    max-height: calc(100dvh - 64px);
    top: 32px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 50;
    overflow: auto;
    background: #fff;
    color: black;
}

.dialogClose {
    margin-left: auto;
}

.dialogHeader {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
}
.dialogMain {
    padding: 8px;
}
.dialogFooter {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 8px;
}

.dialogTitle {
}

.dialogDescription {
}
