.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: var(--max-width);
    padding: var(--padding);
    margin: auto;
}

.logo span:nth-child(10n + 1) {
    color: #ef5350;
}

.logo span:nth-child(10n + 2) {
    color: #ab47bc;
}

.logo span:nth-child(10n + 3) {
    color: #651fff;
}

.logo span:nth-child(10n + 5) {
    color: #3949ab;
}

.logo span:nth-child(10n + 4) {
    color: #2196f3;
}

.logo span:nth-child(10n + 6) {
    color: #00bcd4;
}

.logo span:nth-child(10n + 7) {
    color: #4caf50;
}

.logo span:nth-child(10n + 8) {
    color: #ffc107;
}
