.triggerWrapper {
    cursor: pointer;
}
.dialog {
    max-width: 500px;
}
/* .dialogFooter {
    justify-content: space-between;
} */
.image {
    width: 100%;
    aspect-ratio: 1;
}
.description {
    padding: 8px;
}
.likes {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
