.input {
    appearance: none;
}
.input:not([type="file"], [type="radio"], [type="checkbox"]) {
    background: white;
    padding-inline: 8px;
    height: 46px;
    color: black;
    border-radius: 0;
    appearance: none;
    border: 2px solid gray;
    &:focus {
        outline: none;
        border-color: black;
    }
}
.input[type="file"] {
    max-width: 100%;
}

.input[type="radio"],
.input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.input[type="checkbox"] {
    background: url("/checkbox-on.svg") no-repeat center;
    &:checked {
        background: url("/checkbox.svg") no-repeat center;
    }
}
.input[type="radio"] {
    background: url("/circle.svg") no-repeat center;
    &:checked::before {
        content: " ";
        width: 6px;
        height: 6px;
        background: black;
    }
}
.error {
    display: flex;
    align-items: center;
    color: var(--danger);
}
