.lastPosts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    @media (max-width: 394px) {
        gap: 8px;
    }
    @media (max-width: 378px) {
        gap: 4px;
    }
    @media (max-width: 378px) {
        gap: 2px;
    }
    @media (max-width: 366px) {
        gap: 0px;
    }
}

.image {
    width: 105px;
    height: 105px;
    @media (max-width: 366px) {
        width: 90px;
        height: 90px;
    }
}
