.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    @media (max-width: 394px) {
        gap: 8px;
    }
    @media (max-width: 378px) {
        gap: 4px;
    }
    @media (max-width: 378px) {
        gap: 2px;
    }
    @media (max-width: 366px) {
        gap: 0px;
    }
}

.imageWrapper {
    position: relative;
}

.image {
    width: 105px;
    height: 105px;
    @media (max-width: 366px) {
        width: 90px;
        height: 90px;
    }
}

.remove {
    position: absolute;
    top: 2px;
    right: 2px;
}
.removeIcon {
    stroke: tomato;
    stroke-width: 4px;
    paint-order: stroke;
}
