.profileWall {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-grow: 4;
    width: 100%;
}
.profileWallHeader {
    padding: 8px;
}
.messages {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
    height: 100%;
    padding: 8px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}
.completeMessage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.messageWrapper {
    display: flex;
    gap: 8px;
}
.message {
    background: #ffc107;
    padding: 8px;
    display: inline-flex;
    align-items: center;
}

.grow {
    width: 100%;
}
