.profileFriends {
    display: flex;
    flex-direction: column;
    flex: 2;
    flex-grow: 3;
    width: 100%;
    padding: 8px;
}
.profileFriendsHeader {
    margin-bottom: 8px;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 8px;
}
.friend {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
}
.friendImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: rgb(var(--background));
    color: rgb(var(--foreground-rgb));
}
.friendInformation {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
