.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 8px;
    gap: 8px;
    border-top: 4px solid rgb(var(--background));
}

.input {
    flex-grow: 1;
}

.noWrap {
    white-space: nowrap;
}
