.addImageLabel {
    margin-bottom: var(--padding);
    width: 100%;
}
.addImageInput {
    display: none;
}

.imageSettings {
    display: flex;
    gap: 16px;
}
.imageSettingsColumns {
    width: 50%;
}
.label {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.imageResize {
    margin-top: 16px;
}
.imageWrap {
    height: 30px;
}
.image {
    object-fit: none;
}
.imageResized {
    object-fit: cover;
}
.imageZoomWrap {
    width: 120px;
    height: 120px;
}
.imageZoom {
    position: absolute;
}
