---
import ImagePost from "@components/ImagePost/ImagePost.svelte";
import type { PostType } from "@services/image";
import { getImage } from 'astro:assets';

interface Props {
  posts: PostType[];
}

const { posts } = Astro.props;
---

<div class="flex justify-center flex-wrap">
  {posts.length === 0 ? (
    <p>Ainda sem nenhuma imagem :(</p>
  ) : (
    posts.map((post, index) => (
      <ImagePost {post} {index} client:visible />
    ))
  )}
</div>